$wrapper-background: #fff;
$wrapper-a-color: inherit;
$wrapper-a-text-decoration: underline;
$wrapper-a-hover-color: inherit;
$wrapper-a-hover-text-decoration: none;
$wrapper-a-active-color: #999;
$wrapper-a-active-text-decoration: none;

$countdown-box-background: #0077C0;
$countdown-box-border-radius: 4px;

$countdown-box-box-shadow-h-offset: 0;
$countdown-box-box-shadow-v-offset: 0;
$countdown-box-box-shadow-blur: 17px;
$countdown-box-box-shadow-spread: 0;
$countdown-box-box-shadow-color: rgba(0,119,192,1);

$countdown-box-child-width: 97%;
$countdown-box-font-family: Arial;

$countdown-box-title-font-size: 50px;
$countdown-box-title-color: #fff;

$countdown-box-title-smaller-font-size: 45px;

$countdown-box-countdown-font-size: 300px;
$countdown-box-countdown-color: #0077C0;
$countdown-box-countdown-background: #37AFF7;

$countdown-box-footer-font-size: 16px;
$countdown-box-footer-color: #37AFF7;
